<!DOCTYPE html>
@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App_Data\Playlist.xml";
    DataSet ds = mySongMethods.GetAllSongs(file);
    Session["playlistClass"] = mySongMethods;
    Session["file"] = file;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <br /><br />
    
          <div id="layout">
              <table align="center" class="table-bordered">
                  <tr>
                      <th>Id</th>
                      <th>Artist</th>
                      <th>Title</th>
                      <th>Year</th>
                      <th>Genre</th>
                      <th>Time</th>
                      <th>File</th>
                  </tr>

                  @foreach (DataRow dr in ds.Tables["song"].Rows)
                  {
                      <tr>
                          <td>@dr["id"]</td>
                          <td>@dr["artist"]</td>
                          <td>@dr["title"]</td>
                          <td>@dr["year"]</td>
                          <td>@dr["genre"]</td>
                          <td>@dr["time"]</td>
                          <td>@dr["file"]</td>
                          <td><a href="~/Pages/DeleteSong.cshtml?id=@dr["id"]">Verwijderen</a></td>
                      </tr>
                  }
              </table>

              <a id="toevoeg-knop" href="Pages\CreateSong.cshtml"> een nieuw lied toevoegen.</a>
              
          </div>
</body>
</html>